/**
* Importing by selector filtering example
* https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#selector-filtering
 */
@import '{ .util-color-red, .util-color-blue } from utils/_example-1.scss';

@import '{ .util-with-weird-name as .util--normalized } from utils/_example-2.scss';

/**
* Importing by glob example
* https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#globbing
 */
@import 'components/**/*.scss';

.gs-form-row {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    label {
        margin-bottom: 10px;
    }
}
.gs-alert{
    padding: 10px;
    margin-top: 10px;
    p{
        font-size: 16px;
        margin-bottom: 0px;
    }
    &.succ{
        border: 1px solid green;
    }
    &.succ p{
        color: green;
    }
    &.err{
        border: 1px solid red;
    }
    &.err p{
        color: red;
    }
}
.gs-list-wrap{
    .gs-post{
        border: 1px solid #CCCCCC;
        margin-bottom: 10px;
        padding: 20px 15px;
        h2{
            font-size: 20px;
            line-height: 28px;
        }
        p{
            font-size: 16px;
            line-height: 22px;
        }
        a.gs-link{
            border: 1px solid #CCCCCC;
            color: #777777;
            padding: 10px;
            display: inline-block;
            text-decoration: none;
        }
    }
}
.gs-pagination{
    .page-numbers{
        border: 1px solid #CCC;
        color: #777777;
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
    }
}