/**
* Importing by selector filtering example
* https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#selector-filtering
 */
.util-color-red {
  color: red;
}

.util-color-blue {
  color: blue;
}

.util--normalized {
  font-size: 2px;
}

/**
* Importing by glob example
* https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#globbing
 */
.component-1-from-example-1 {
  padding: 1px;
}

.component-1-from-example-2 {
  padding: 1px;
}

.component-2-from-example-2 {
  padding: 1px;
}

.gs-form-row {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.gs-form-row label {
  margin-bottom: 10px;
}

.gs-alert {
  padding: 10px;
  margin-top: 10px;
}
.gs-alert p {
  font-size: 16px;
  margin-bottom: 0px;
}
.gs-alert.succ {
  border: 1px solid green;
}
.gs-alert.succ p {
  color: green;
}
.gs-alert.err {
  border: 1px solid red;
}
.gs-alert.err p {
  color: red;
}
